.menu
  display none

.header
    background-color $gris_oscuro
    color $blanco
    height 3.5em
    border-bottom 1px solid rgba($gris_masclaro,.4)
    box-shadow 0px 2px 6px rgba(black,.2)
    
    a
     display block
    .title
      font-size 1.1em
      text-align center
      margin 0
      line-height 3.5em
      p
        margin 0
    .button-menu
       position absolute
       top 50%
       left 1em
       margin-top -10px
       color $naranja_claro
       font-size 1.8em
       
