.playing
    
    &.small
        background-color red
        width 320px
    &.medium
        background-color red
        width 640px
     .image
            position relative
        img 
            width:320px
       
     .actions
       text-align right
       padding 1em
       background rgba(black,.5)
       color red
       position absolute
       bottom 0
       left 0
       right 0
       a
        color white
        font-size 1.4em