.progress
  margin 1.2em 0
  position relative
  .min
  .max
    font-size .8em
    top -5px
    position absolute
   .min
     left: 0
    .max
     right: 0 
  .total
    height 5px
    background $gris_claro
    width 75%
    margin 0 auto
    border-radius 5px
  .state
    height 5px
    background purple
    width 50%
    position relative
    border-radius 50px
    animation 10s state infinite linear
  .circle
    height 12px
    width 12px
    background $gris_oscuro
    border-radius 50%
    position absolute
    left 100%
    top -3.2px
    animation 1s circle infinite

@keyframes state
    0%
      width 0
    100%
      width 100%

@keyframes circle
    0%
      transform scale(1)
    100%
      transform  scale(2)
      opacity 0