.relative
    position relative
.center-block
   margin 0 auto
.center-text
   text-align center
.padding
  padding 1em
.left
  float left
.right
  float right  
.wrap
  width 1000px

.ggray
  color $gris_oscuro
